@font-face
  font-family: Bebas Neue
  font-weight: bold
  src: url("../fonts/BebasNeue Bold.otf")

@font-face
  font-family: Bebas Neue
  font-weight: lighter
  src: url("../fonts/BebasNeue Light.otf")
