header
  text-align: center
  color: white
  height: 20%

  h1
    margin: 20px 0 10px
    letter-spacing: .1em
    font-size: 3.5em

  h2
    margin: 10px 0 20px
    letter-spacing: .1em
    font:
      weight: lighter
      size: 1.4em

button
  border: none
  background: lighten(black, 35%)
  color: white
  outline: none
  padding: 8px 20px
  font-size: 1.5em
  font-family: Bebas Neue
  letter-spacing: 1.5px
  border-radius: 2px
  margin: 5px
  overflow: hidden
  position: relative
  cursor: pointer

  span
    z-index: 2
    vertical-align: middle
    position: relative

  .back
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: lighten(black, 40%)
    height: 0%
    width: 0%
    border-radius: 2px
    transition: width .8s, height .8s
    z-index: 1

  &:hover
    .back
        width: 100%
        height: 100%
