main
  height: 70vh
  width: 100%
  overflow: hidden
  margin-top: 5vh
  box-sizing: border-box
  position: relative

  .polaroid
    position: absolute
    background: black
    top: 0px
    left: 50%
    transform: translateX(-50%)
    opacity: 0
    margin: 0 auto
    border: 10px white solid
    width: 25vw
    height: 45vh
    box-shadow: -2px -2px 5px black
    transition: top .5s, opacity .5s

    background:
      size: cover
      position: center center

    &:last-child
      cursor: pointer

  .polaroid.visible
    opacity: 1

@media (max-width: 600px)
  .polaroid
    width: 60vw !important

@media (max-width: 420px)
  .polaroid
    width: 70vw !important
