@mixin keyframes($name)
  @-webkit-keyframes #{$name}
      @content;
  @-moz-keyframes #{$name}
      @content;
  @-ms-keyframes #{$name}
      @content;
  @-o-keyframes #{$name}
      @content;
  @keyframes #{$name}
      @content;

@mixin animation($name, $duration, $count)
  -webkit-animation-name: $name
  -webkit-animation-duration: $duration
  -webkit-animation-iteration-count: $count

  -moz-animation-name: $name
  -moz-animation-duration: $duration
  -moz-animation-iteration-count: $count

  o-animation-name: $name
  o-animation-duration: $name
  o-animation-iteration-count: $count

  -ms-animation-name: $name
  -ms-animation-duration: $duration
  -ms-animation-iteration-count: $count

  animation-name: $name
  animation-duration: $duration
  animation-iteration-count: $count
