@import mixins

.slider
  position: fixed
  top: 0
  left: 0
  background: url("../img/footer_lodyas.png")
  width: 100%
  height: 100%
  transform: translate(-100%)
  z-index: 3
  transition: transform .4s

  figure
    width: 100%
    height: 80%
    margin: 2% auto
    position: relative

    img
      max-width: 80%
      max-height: 95%
      position: absolute
      top: 50%
      left: 50%
      opacity: 0
      transform: translate(-50%, -50%)
      transition: opacity .5s

    &:after
      content: ""
      position: absolute
      top: 50%
      left: 50%
      opacity: 0
      transform: translate(-50%, -50%)
      width: 32px
      height: 32px
      background:
        image: url("../img/wait.png")
        size: cover

  .slider-buttons
    text-align: center

    button
      padding: 5px 20px 8px
      font:
        size: 2em
        weight: bold

  .close-button
    font-size: 1.2em
    font-weight: bold
    background: white
    color: black
    position: absolute
    top: 20px
    right: 20px
    padding: 10px 20px 8px
    
    .back
      background-color: darken(white, 5%)

.visible
  transform: translateX(0%)

.loading
  &:after
    @include animation(rotate-spinner, 2s, infinite)

@include keyframes(rotate-spinner)
  0% {opacity: .2; transform: translate(-50%, -50%) rotate(0deg)}
  50% {opacity: 1; transform: translate(-50%, -50%) rotate(180deg)}
  100% {opacity: .2; transform: translate(-50%, -50%) rotate(360deg)}
