@font-face
  font:
    family: Raleway
    weight: normal
  src: local("Raleway"), url("../fonts/Raleway-Regular.ttf") format('truetype')

@font-face
  font:
    family: Raleway
    weight: bold
  src: local("Raleway Bold"), url("../fonts/Raleway-Bold.ttf") format('truetype')
