footer
  margin-top: 35px
  padding: 25px 0

footer .logo
  margin: 0 auto
  width: 150px
  height: 30px
  opacity: .45
  background-image: url("../img/logo.png")
  background-size: cover
  transition: opacity .5s

footer .logo:hover
  opacity: 1
