@import mixins

.box
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  width: 65%
  margin-left: 17.5%

  .image
    position: relative
    width: 30%
    height: 32%
    min-height: 250px
    min-width: 250px
    margin:
      right: 1%
      bottom: 15px
    background:
      position: center center
      size: cover

    &:after
      content: ""
      position: absolute
      width: 100%
      height: 100%
      background-color: rgb(0, 0, 0)
      opacity: 0
      transition: opacity .4s

    &:hover
      &:after
        opacity: .35

button
  position: relative
  display: block
  margin: 15px auto
  font-size: 1.3em
  background-color: white
  text-transform: uppercase
  border: 1px solid black
  padding: 8px 20px
  border-radius: 4px
  font-weight: normal
  font-family: Raleway
  outline: none

  &:after
    content: ""
    width: 20px
    height: 20px
    background-color: red
    background: url("../img/load.png")
    background-size: cover
    top: 10px
    left: -35px
    position: absolute
    z-index: -1
    overflow: visible
    transform: translateX(40px)
    transition: transform .5s

  &:hover
    &:after
      transform: translateX(0px)

.loading-process
  &:after
    @include animation(load-rotate, .8s, 1)

@include keyframes(load-rotate)
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
