.slider
  position: fixed
  top: 0
  left: 0
  background-color: transparentize(darken(#F5F5F5, 5%), .2)
  width: 100%
  height: 100%
  z-index: 1
  visibility: hidden

  .spinner
    background-image: url('../img/load.png')
    height: 30px
    width: 30px
    position: absolute
    background-size: cover
    top: 90%
    left: 48%
    transform: translate(-50%, -50%)
    opacity: 0

  .loading-image
    opacity: .4
    @include animation(load-rotate, .8s, infinite)

  .wrapper
    height: 100%
    position: relative
    display: flex

  .close
    position: absolute
    z-index: 3
    top: 2%
    right: 2%
    opacity: .2
    width: 30px
    height: 30px
    background:
      image: url("../img/close.png")
      size: cover
    transition: opacity .3s

    &:hover
      opacity: .8

  .arrow
    width: 10%
    z-index: 1
    cursor: pointer

  #left-arrow
    order: 0

    &:hover
      ~ figure
        &:before
          left: -7%

  #right-arrow
    order: 2

    &:hover
      ~ figure
        &:after
          right: -7%

  figure
    order: 1
    width: 100%
    height: 80%
    margin: 5% auto
    position: relative

    &:before
      content: "<"
      position: absolute
      top: 48%
      left: -9%
      font-family: Raleway
      transform: translateY(-50%)
      font-size: 3.6em
      z-index: -1
      transition: left .4s

    &:after
      content: ">"
      position: absolute
      top: 48%
      right: -9%
      font-family: Raleway
      transform: translateY(-50%)
      font-size: 3.6em
      z-index: -1
      transition: right .4s


    img
      max-width: 80%
      max-height: 95%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

.visible
  visibility: visible
