@import mixins

.container
  display: flex
  justify-content: space-between

  .arrow
    position: relative
    opacity: .3
    padding: 20px
    cursor: pointer
    transition: opacity .3s

    &:hover
      opacity: .8

    span
      font-family: Amatic
      color: white
      font-size: 3.5em
      position: absolute
      top: 50%


  #left-arrow
    background: linear-gradient(90deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0))

    span
      transform: translateY(-50%)

  #right-arrow
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6))

    span
      transform: translate(-20px, -50%)

  .album-wrapper
    flex-grow: 1
    height: 100vh
    overflow: hidden
    white-space: nowrap

    .image-roll
      transition: transform .5s

    .prev
      @include animation(first-slide, .8s, 0s, 1)

@include keyframes(first-slide)
  0%   { transform: translateX(0%) }
  50%   { transform: translateX(10%) }
  100% { transform: translateX(0%) }

.box
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  margin-top: 5vh

  .snap
    cursor: pointer
    width: 35%
    margin: 5px 0
    height: 25vh
    border: 10px white solid
    background:
      size: cover
      position: center center
      clip: padding-box
    box-shadow: 9px 9px 30px rgba(0, 0, 0, .4)
