@mixin keyframes($name)
    @-webkit-keyframes #{$name}
        @content;
    @-moz-keyframes #{$name}
        @content;
    @-ms-keyframes #{$name}
        @content;
    @-o-keyframes #{$name}
        @content;
    @keyframes #{$name}
        @content;

@mixin animation($name, $duration, $delay, $iter)
  -webkit-animation-name: $name
  -webkit-animation-duration: $duration
  -webkit-animation-fill-mode: forwards
  -webkit-animation-delay: $delay
  -webkit-animation-iteration-count: $iter

  -moz-animation-name: $name
  -moz-animation-duration: $duration
  -moz-animation-fill-mode: forwards
  -moz-animation-delay: $delay
  -moz-animation-iteration-count: $iter

  o-animation-name: $name
  o-animation-duration: $name
  o-animation-fill-mode: forwards
  o-animation-delay: $delay
  o-animation-iteration-count: $iter

  -ms-animation-name: $name
  -ms-animation-duration: $duration
  -ms-animation-fill-mode: forwards
  -ms-animation-delay: $delay
  -ms-animation-iteration-count: $iter

  animation-name: $name
  animation-duration: $duration
  animation-fill-mode: forwards
  animation-delay: $delay
  animation-iteration-count: $iter
