.album-page
  border-right: 4px solid #D0D0D0
  border-radius: 5px 40px 40px 5px
  margin: 5% 12.5%
  width: 75%
  height: 80vh
  overflow: hidden
  display: inline-block
  position: relative
  box-sizing: border-box

  .leftbar
    background: rgba(83, 49, 15, .5)
    border-right: 3px dashed rgba(66, 66, 66, .4)
    width: 8%
    height: 100%
    box-sizing: border-box
    float: left

  .content
    width: 92%
    height: 100%
    float: left

    .heading
      margin-top: 20%

      h1
        text-align: center
        color: rgba(0, 0, 0, .9)
        white-space: normal
        font-size: 60px

      h2
        text-align: center
        color: rgba(0, 0, 0, .9)
        white-space: normal
        padding: 20px
        font-size: 42px

.front
  background: url("../img/cheap_diagonal_fabric.png")

  h1
    margin: 0
    color: rgba(0,0,0,0.4)

  h2
    color: rgba(0,0,0,0.4)

  h1 span
    border-bottom: 15px solid transparent
    border-image: url("../img/dash.png") 23 1 repeat
    -webkit-border-image: url("../img/dash.png") 23 1 repeat
    -o-border-image: url("../img/dash.png") 23 1 repeat

.normal
  background: url("../img/paper.png")
