.slider
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  z-index: 1
  visibility: hidden
  background-color: rgba(0, 0, 0, .8)
  transition: visibility 0s, opacity .4s
  transition-delay: .4s, 0s

  figure
    width: 100%
    height: 80%
    margin: 5% auto
    position: relative

    img
      max-width: 80%
      max-height: 95%
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

    .spinner
      font-size: 240px
      position: absolute
      top: 42%
      left: 50%
      transform: translate(-50%, -50%)
      font-family: Amatic
      visibility: hidden

      span
        vertical-align: super
        display: inline-block
        color: white

        &:nth-child(1)
          text-shadow: 2px 2px red

        &:nth-child(2)
          text-shadow: 2px 2px black

        &:nth-child(3)
          text-shadow: 2px 2px blue

  button
    position: absolute
    z-index: 3
    top: 3%
    right: 3%
    cursor: pointer
    font-family: Amatic
    font-size: 2em
    color: white
    background: transparent
    border: none
    outline: none


.loading-image
  .spinner
    visibility: visible !important

    span
      &:nth-child(1)
        @include animation(dots-anim, 1.5s, 0s, infinite)

      &:nth-child(2)
        @include animation(dots-anim, 1.5s, .2s, infinite)

      &:nth-child(3)
        @include animation(dots-anim, 1.5s, .4s, infinite)


@include keyframes(dots-anim)
  0% { transform: translateY(0px) }
  50% { transform: translateY(-10px) }
  100% { transform: translateY(0px)}

.visible
  transition-delay: 0s, 0s
  visibility: visible
  opacity: 1
