@font-face
  font:
    family: Source Sans Pro
    weight: normal
  src: url("../fonts/SourceSansPro-Regular.otf")

@font-face
  font:
    family: Source Sans Pro
    weight: lighter
  src: url("../fonts/SourceSansPro-Light.otf")
