header
  background-color: white
  padding: 15px
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3)
  display: flex
  justify-content: space-between
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 2

  h1
    margin: 0
    padding-left: 20px

  h3
    margin: 10px 0 0
    padding-right: 40px
    font-weight: lighter
