.container
  margin: 120px 5%

  .column
    width: 25%
    float: left

    figure
      width: 100%
      height: auto
      margin: 0
      padding: 5px
      box-sizing: border-box
      cursor: pointer
      opacity: 0

      &:hover
        transition: opacity .5s
        opacity: .6

      img
        width: 100%
        height: auto

    .visible
      transition: opacity .2s
      opacity: 1.0

@media all and (max-width: 600px)
  .column
    width: 50% !important
