@import mixins

.slider
  position: fixed
  top: 0
  left: 0
  background-color: rgba(255, 255, 255, 1)
  width: 100%
  height: 100%
  z-index: 3
  visibility: hidden
  opacity: 0
  transition: visibility 0s, opacity .3s
  transition-delay: .3s, 0s

  figure
    width: 100%
    height: 80%
    margin: 2% auto
    position: relative

    img
      opacity: 0
      max-width: 80%
      max-height: 95%
      position: absolute
      top: 50%
      left: 50%
      transition: opacity .5s

    .img-load
      opacity: 1
      @include animation(show-slide, .5s, 1)

  .spinner
    position: absolute
    background: lighten(black, 40%)
    top: 42%
    left: 50%
    transform: translate(-50%, -50%)
    width: 150px
    height: 150px
    border-radius: 100px
    opacity: 0
    transition: opacity .2s

    &:before
      content: ""
      position: absolute
      top: -6px
      left: -6px
      width: 99%
      height: 99%
      border-radius: 100px
      border: 7px solid black

    img
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 90%
      margin: 0 5%

  .loading-process
    opacity: 1

    &:before
      @include animation(show-spinner, 1.2s, infinite)

  button
    background: white
    outline: none
    border: 1px solid darken(white, 20%)
    border-radius: 2px
    font-size: 1.2em
    padding: 8px 18px
    font:
      family: Source Sans Pro
      weight: bold
    margin: 10px 0
    position: absolute
    bottom: 5px
    left: 50%
    transform: translateX(-50%)
    transition: background-color .3s
    cursor: pointer

    &:hover
      background: darken(white, 10%)

.visible
  transition-delay: 0s, 0s
  visibility: visible
  opacity: 1

@include keyframes(show-spinner)
   0%   { transform: scale(1.0); opacity: 0 }
   50%  { transform: scale(1.2); opacity: 1 }
   100% { transform: scale(1.4); opacity: 0 }

@include keyframes(show-slide)
  0%   { transform: translate(-50%, -30%) }
  100% { transform: translate(-50%, -50%) }
