@font-face
  font:
    family: Comfortaa
    weight: bold
  src: url("../fonts/Comfortaa_Bold.ttf")

@font-face
  font:
    family: Comfortaa
    weight: lighter
  src: url("../fonts/Comfortaa_Thin.ttf")
