@import mixins

main
  display: flex
  height: 100%
  width: 100%
  overflow: hidden

  .arrow
    width: 10%

    .svg-wrapper
      position: absolute
      top: 44%
      cursor: pointer
      z-index: 100

      svg
        width: 50px
        height: 50px
        position: absolute

      &:after
        display: block
        font-family: Comfortaa
        font-size: 40px
        position: absolute
        top: 55%

  #left-arrow
    .svg-wrapper
      left: 15px

      &:after
        content: "<"
        margin: 2px 14px

  #right-arrow
    .svg-wrapper
      right: 70px

      &:after
        content: ">"
        margin: 2px 16px

  .content
    flex-grow: 1
    display: flex
    flex-flow: column
    height: 100vh

    header
      max-height: 30%

    .slide
      height: 70%
      flex-grow: 1

      figure
        width: 100%
        height: 70%
        margin: 0 auto
        text-align: center
        transition: opacity .4s

        img
          max-width: 100%
          max-height: 100%

        .fade-actual-next
          @include animation(fade-actual-next, .5s)

        .fade-actual-prev
          @include animation(fade-actual-prev, .5s)

        .next-move
          @include animation(next-move, .5s)

        .prev-move
          @include animation(prev-move, .5s)


      .thumbs
        width: 60%
        margin: 0 auto
        height: 27%
        padding: 20px 5px
        white-space: nowrap
        box-sizing: border-box
        overflow: hidden

        .thumbs-wrapper
          width: 100%
          height: 100%
          transition: transform .4s

          .thumb
            width: 22.5%
            height: 100%
            cursor: pointer
            display: inline-block
            box-sizing: border-box
            position: relative
            overflow: hidden
            margin-left: 2.5%
            background:
              position: center
              size: cover

            &:nth-child(4n+4)
              margin-right: 2.5%

            &:after
              content: ""
              position: absolute
              box-sizing: border-box
              top: 0
              width: 100%
              height: 100%
              transform: scale(1.5)
              border: 8px rgba(0, 163, 71, .75) solid
              transition: transform 0.4s ease-in-out

            &:hover
              &:after
                transform: scale(1.0)

          .active
            &:after
              transform: scale(1.0)

@include keyframes(fade-actual-next)
  0% { transform: translateX(0%); opacity: 1}
  100% { transform: translateX(-80%); opacity: 0}

@include keyframes(fade-actual-prev)
  0% { transform: translateX(0%); opacity: 1}
  100% { transform: translateX(80%); opacity: 0}

@include keyframes(next-move)
  0% { transform: translateX(80%); opacity: 0}
  100% { transform: translateX(0%); opacity: 1}

@include keyframes(prev-move)
  0% { transform: translateX(-80%); opacity: 0}
  100% { transform: translateX(0%); opacity: 1}

@media (max-width: 680px)
  .thumbs
    width: 80% !important

@media (max-width: 550px)
  .thumbs
    width: 90% !important

@media (max-width: 480px)
  .thumbs
    width: 97.5% !important

  .arrow
    width: 0% !important

  .svg-wrapper
    visibility: hidden
