@mixin keyframes($name)
    @-webkit-keyframes #{$name}
        @content;
    @-moz-keyframes #{$name}
        @content;
    @-ms-keyframes #{$name}
        @content;
    @-o-keyframes #{$name}
        @content;
    @keyframes #{$name}
        @content;

@mixin animation($name, $duration)
  -webkit-animation-name: $name
  -webkit-animation-duration: $duration
  -webkit-animation-fill-mode: forwards

  -moz-animation-name: $name
  -moz-animation-duration: $duration
  -moz-animation-fill-mode: forwards

  o-animation-name: $name
  o-animation-duration: $name
  o-animation-fill-mode: forwards

  -ms-animation-name: $name
  -ms-animation-duration: $duration
  -ms-animation-fill-mode: forwards

  animation-name: $name
  animation-duration: $duration
  animation-fill-mode: forwards
