body
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  background: #36C876
  color: white

h1, h2, h3, h4, h5, h6
  font-family: Comfortaa
  text-align: center

h1
  font-weight: bold

h2
  font-weight: lighter

@import fonts
@import layout
